<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zeimu.zeimu03.comp.sneky"
     android:versionCode="010438"
    android:versionName="01.04.38" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <application
        android:icon="@drawable/thumb006"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:screenOrientation="portrait"
         >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WordModel0"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
        </activity>
        <activity android:name=".SelectRecord"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
        </activity>
        <activity android:name=".DisplayRecord"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
        </activity>
        <activity android:name=".SelectStoryPractice"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
        </activity>
        <activity android:name=".SelectPractice"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
        </activity>
        <activity android:name=".PracticeModel0"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
        </activity>
        <activity android:name=".SelectStory"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
        </activity>
        <activity android:name=".StoryModel0"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
        </activity>
        <activity android:name=".StoryModel1"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
        </activity>
        <activity android:name=".QuestSelect01"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
        </activity>
        <activity android:name=".ExplainView"
            android:screenOrientation="portrait"
            android:label="@string/app_name">"
        </activity>
    </application>

</manifest>